
[user]
    email = hello@mattw.life
    name = Matt Wisniewski

[color]
    ui = auto

[alias]        
    tree = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    recent = for-each-ref --sort=-committerdate --count=10 refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
    origin-branch = "!f() { \
        git branch -a --contains $1 --sort='authordate' --format='%(refname:short)' | head -n1; \
      }; f"
